@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height:100%;
    width: 100%;
    @apply bg-slate-600 text-slate-50
    
}

footer {
    @apply bg-slate-950 text-black;
}

.dark {
    @apply bg-slate-950 text-black;
 }

 .carousel-control-next-icon {
    height: 100%;
    width: 50rem;
    color:aquamarine;
  }

